* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(253, 251, 251);
}

#cabecalho{
    position: relative;
    top: 0;
    border: 1px solid red;
}

#titulo{
    text-align: center;
}

#minha_foto{
    width: 150px;
    border-radius: 100%;
}

#mainDiv{
    margin-left: 100px;
}

#licoes_aprendidas{
    margin-left: 25px;
    display: inline-block;
}

#licoes_a_aprender{
    margin-left: 25px;
    display: inline-block;
}