* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(253, 251, 251);
}

.border{
    border: 1px solid red;
}

#cabecalho{
    position: relative;
    top: 0;
}

#titulo{
    text-align: center;
}

#profileSection{
    text-align: center;
}

#minha_foto{
    width: 150px;
    border-radius: 100%;
}

#licoes_aprendidas{
    margin-left: 25px;
    display: inline-block;
}

#licoes_a_aprender{
    margin-left: 25px;
    display: inline-block;
}

#rodape{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.learningDescription1 article{
    max-width: 500px;
    display: inline-block;
    margin: 20px 400px;
    border: 1px dashed red;
}