* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(253, 251, 251);
}

.border{
    border: 1px solid red;
}

.borderDashed{
    border: 1px dashed red;
}

#cabecalho{
    position: relative;
    top: 0;
}

#titulo{
    text-align: center;
}

#profileSection{
    text-align: center;
}

#minha_foto{
    width: 150px;
    border-radius: 100%;
}

#licoes_aprendidas{
    margin: 20px 25px;
    /* margin-left: 25px; */
    display: inline-block;
}

#licoes_a_aprender{
    margin-left: 25px;
    display: inline-block;
}

#rodape{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.learningDescription1 article{
    max-width: 500px;
    margin: 20px auto;
}

aside{
    max-width: 400px;
    position: absolute;
    right: 5%;
    top: 50%;
}

table{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
}